@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin responsive-font($min-size, $max-size) {
  font-size: $min-size;

  @media (min-width: $breakpoint-tablet) {
    font-size: $max-size;
  }
}
